.postInfo {
  margin-top: 1.5rem;
  display: flex;
  color: var(--terciary-text-color);
  div,
  time {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 0.5rem;
    svg {
      margin-right: 0.5rem;
    }
    & + div,
    time + div {
      margin-left: 1.6rem;
    }
  }
}